/* * {
    color: red;
    border: 1px solid red;
} */

body {
    background-color: #333;    
}

.parent_em {
    font-size: 20px;
    color: limegreen; 
}

.child_em {
    font-size: 2em;
    margin: 1.5em;
}
    
html {
    font-size: 30px;
}

.parent_rem {
    font-size: 20px;
}

.child_rem {
    font-size: 2rem;
    margin: 1.5rem;
}