html {
    background-color: #333;
}

/* universal selector - do not use this!
* {
    font-family: monospace;
} */

/* inheritance */
body {
    font-size: 22px;    
}

/* element selector */
/* h1, h2 {  */
    /* font-size: 64px; */
    color: red;
}

p {
    color: orangered;
}

/* p span {
    text-transform: uppercase;
    background-color: silver;
}
/* alternatively, add the class highlight to the span element in html...it makes it reusable*/
.highlight {
    text-transform: uppercase;
    background-color: silver;
}

/* class selector */
.orange {
    color: orange;
}

/* id selector */
#second {
    font-style: italic;
}

h1 {
    color: aqua;
}

h1.orange {
    color: blue;
}

p.three + .one > a {
    color: blue;
}

h2.title {
    color: yellow;
}